* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --orange-main: #f4623a;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

.site-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    position: relative;

}

header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.header-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.header-heading > p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    font-weight: 800;
    cursor: pointer;

}

.header-heading > p:hover {
    color: white;
}

.header-navigation {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    gap: 40px;
}

.header-navigation > p {
    font-size: 14px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    cursor: pointer;

}

.header-navigation > p:hover {
    color: white;
}

main {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.page-text-container {
    display: flex;
    width: 100%;
    height: 935px;

    position: relative;
    align-items: center;
    justify-content: center;
}

.page-background {
    background-image: url("../images/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-background:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%);
}

.page-text-title {
    display: flex;
    width: 750px;
    height: auto;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
    align-items: center;
    z-index: 2;
}

.page-text-title > h2 {
    font-size: 56px;
    text-align: center;
    color: white;
}

.page-text-title > p {
    font-size: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
}

.pseudo-line {
    display: flex;
    width: 60px;
    height: 3px;
}

.orange-pseudo-line {
    background: var(--orange-main);

}

.btn {
    width: auto;
    font-size: 13px;
    height: auto;
    border-radius: 30px;
    outline: 0;
    border: 0;
    font-weight: 800;
    transition: 0.3s;
    cursor: pointer;
    padding: 22px 40px;
}

.orange-btn {
    color: white;
    background: var(--orange-main);
}

.orange-btn:hover {
    background: #cf5331;
}

.get-started-container {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    background: var(--orange-main);
}

.text-container {
    display: flex;
    width: 760px;
    height: auto;
    flex-direction: column;
    padding: 20px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-container > h2 {
    font-size: 27px;
    color: white;
}

.text-container > p {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    line-height: 25px;
}

.white-pseudo-line {
    background: white;
}

.white-btn {
    color: black;
    background: white;
}
.white-btn:hover {
    background: rgba(210, 210, 210, 0.9);
}
.benefits-container {
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.benefits-tittle-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.benefits-tittle-block>h2 {
    font-size: 28px;
    color: black;
}
